/* ==========================================================================
   NAVIGATION
   ========================================================================== */

/* [Previous code remains unchanged] */

.pagination {
  /* [Previous code remains unchanged] */

  li {
    a {
      color: var(--text-color);
      border: 1px solid var(--border-color);

      &:hover {
        color: var(--link-color);
      }

      &.current {
        color: #fff;
        background: var(--link-color);
      }

      &.disabled {
        color: mix(#fff, var(--text-color), 75%);
      }
    }
  }

  /* next/previous buttons */
  &--pager {
    color: var(--text-color);
    border: 1px solid var(--border-color);

    &:hover {
      color: var(--link-color);
    }

    &.disabled {
      color: mix(#fff, var(--text-color), 75%);
    }
  }
}

.page__content + .pagination,
.page__meta + .pagination,
.page__share + .pagination,
.page__comments + .pagination {
  border-top: 1px solid var(--border-color);
}

/*
   Priority plus navigation
   ========================================================================== */

.greedy-nav {
  background: var(--background-color);

  a {
    color: var(--text-color);

    &:hover {
      color: var(--link-color);
    }
  }

  button {
    background-color: var(--link-color);
    color: var(--background-color);
  }

  .visible-links {
    a {
      &:before {
        background: var(--link-color);
      }
    }
  }

  .hidden-links {
    border: 1px solid var(--border-color);
    background: var(--background-color);

    a {
      &:hover {
        color: var(--link-color);
        background: mix(var(--background-color), var(--link-color), 75%);
      }
    }

    &:before {
      border-color: var(--border-color) transparent;
    }

    &:after {
      border-color: var(--background-color) transparent;
    }

    li {
      border-bottom: 1px solid var(--border-color);
    }
  }
}

/*
   Navigation list
   ========================================================================== */

.nav__list {
  a {
    color: var(--text-color);
  }

  .active {
    color: var(--background-color);
    background: var(--link-color);

    &:hover {
      color: var(--background-color);
    }
  }
}

.nav__sub-title {
  border-bottom: 1px solid var(--border-color);
}

/*
   Table of contents navigation
   ========================================================================== */

.toc {
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);

  .nav__title {
    color: var(--background-color);
    background: var(--link-color);
  }
}

.toc__menu {
  a {
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);

    &:hover {
      color: var(--link-color);
      background: mix(var(--background-color), var(--text-color), 90%);
    }
  }
}
